@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");

html {
  box-sizing: border-box;
  font-size: 16px;
}

body {
  margin: 0;
  padding: 0;
  min-width: 100vw;
  min-height: 100vh;
  font-weight: normal;
  font-family: "Indie Flower", cursive;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.github-corner {
  position: fixed;
  top: 0;
  right: 0;
  transform: scale(1.25);
}

a {
  color: #1f74b6;
  font-weight: 600;
  text-decoration: none;
  cursor: pointer;
}

.main-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 20px;
  margin: auto;
}

.scoreboard-container {
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgb(221, 209, 209), 0px 0px 20px rgb(238, 230, 230);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.75rem;
  margin-bottom: 80px;
}

#reset {
  padding: 10px;
  width: 20%;
  border-radius: 5px;
  border: 0.25px solid black;
  box-shadow: 0px 0px 10px rgb(221, 209, 209), 0px 0px 20px rgb(238, 230, 230);
  cursor: pointer;
  font-family: "Indie Flower", cursive;
  font-weight: 800;
  font-size: 1.15rem;
}

#reset:hover {
  color: white;
  background-color: black;
  border: 2px solid white;
}

#game-container {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(3, 190px);
  grid-auto-rows: 190px;
  border-radius: 10px;
}

#game-container > .box {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.box {
  padding: 20px 0;
  font-size: 5.15rem;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.box-1,
.box-2,
.box-4,
.box-5 {
  border-right: 2px solid black;
  border-bottom: 2px solid black;
}

.box-3,
.box-6 {
  border-bottom: 2px solid black;
}

.box-7,
.box-8 {
  border-right: 2px solid black;
}

@media screen and (max-width: 768px) {
  .scoreboard-container {
    margin-top: 80px;
  }
}
