@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap");

html {
  box-sizing: border-box;
  font-size: 16px;
}

body {
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-family: "Architects Daughter", cursive;
  font-weight: 600;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.github-corner {
  position: fixed;
  top: 0;
  right: 0;
  transform: scale(1.25);
  -webkit-tap-highlight-color: transparent;
}

a {
  color: #1f74b6;
  font-weight: 600;
  text-decoration: none;
  cursor: pointer;
}

.main-container {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}

.scoreboard-container {
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px 0px rgba(29, 0, 10, 0.2),
    0px 2px 3px 0px rgba(29, 0, 10, 0.2);
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  font-size: clamp(1.15rem, 4.5vw, 1.55rem);
  margin-top: 80px;
}

#reset {
  padding: 10px;
  width: 20%;
  border-radius: 5px;
  border: 0px;
  box-shadow: 0px 4px 10px 0px rgba(29, 0, 10, 0.2),
    0px 2px 3px 0px rgba(29, 0, 10, 0.2);
  cursor: pointer;
  font-family: "Architects Daughter", cursive;
  font-weight: 800;
  font-size: clamp(0.75rem, 2.5vw, 1.25rem);
  -webkit-tap-highlight-color: transparent;
}

#reset:hover {
  color: white;
  background-color: black;
}

#game-container {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(3, clamp(6.5rem, 20.5vw, 10.75rem));
  grid-auto-rows: clamp(6.5rem, 20.5vw, 10.75rem);
  border-radius: 10px;
}

#game-container > .box {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.box {
  padding: 20px 0;
  font-size: clamp(2.75rem, 8.25vw, 4.25rem);
  -webkit-tap-highlight-color: transparent;
  font-family: "Indie Flower", cursive;
}

.box-1,
.box-2,
.box-4,
.box-5 {
  border-right: 2px solid black;
  border-bottom: 2px solid black;
}

.box-3,
.box-6 {
  border-bottom: 2px solid black;
}

.box-7,
.box-8 {
  border-right: 2px solid black;
}

@media screen and (max-width: 768px) {
  .scoreboard-container {
    margin-top: 40px;
  }
  .github-corner {
    transform: scale(1);
  }
}
